[Unit]
Description=Seafile Seahub
After=network.target seafile.service

[Service]
ExecStart={{ seafile_installation_path }}/seafile-server-latest/seahub.sh start-fastcgi 8000
ExecStop={{ seafile_installation_path }}/seafile-server-latest/seahub.sh stop
User=seafile
Group=seafile
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
